name: Model Validate and Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  validate-and-build:
    uses: CBIIT/bento-workflows/.github/workflows/model-test-and-deploy.yml@{{ wfversion }}
    with:
      model_files: |
        {{ mdfs|join(' ') }}
      model_prefix: {{ base }}
      event_name: {{ '${{' }} github.event_name {{ '}}' }}
