name: ci-cd

on: [push, pull_request]

jobs:
  test-build:
    uses: CBIIT/bento-workflows/.github/workflows/test-build.yml@v3.0.24
    with:
      workdir: ./python
      versions: |
        ["3.10","3.11","3.12","3.13"]
      no-test-mdb: true
    secrets: inherit
