name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/setup-uv@v7
      - name: Install package
        working-directory: ./python
        run: |
          uv venv
          uv pip install -e .[dev]
      - name: Sphinx build
        working-directory: ./python/docs
        run: |
          uv run python -m ipykernel install --user --name "ipykernel"
          uv  run sphinx-build -b html . ./_build/html
      - name: List HTML Output
        run: ls -R ./python/docs/_build/html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./python/docs/_build/html
          force_orphan: true
